{% extends "menu.html" %}
{% block content %}
{% if products|empty? %}
<div class="container">
  <p class="lead" style="text-align:center;">Cart is empty!</p>
</div>
{% else %}
{% for product in products %}
<div class="row" style="padding-top: 5%;">
  <div >
    <!-- ako je prazna -->
    <form method="POST" action="/cart/remove">
      {% csrf-field %}
      <img class="img-circle" src={{product.picture}} alt="Generic placeholder image" width="140" height="140">
      <h2>{{product.name}}</h2>
      <input type="hidden" name="product_id" value="{{product.product_id}}"/>
      <br>
      <p class="lead"> <i>Quantity ordered: </i> {{product.quantity}}</p>
      <button type="submit" class="btn btn-default">Remove from Cart</button>
    </form>
  </div>
</div>
{% endfor %}
<div class="row" style="padding-top: 5%">
  <a href="/cart/checkout" class="btn btn-info">Proceed to Checkout</a>
  <a href="/cart/clear" class="btn btn-danger">Clear Cart</a>
</div>
{% endif %}
{% endblock %}
