<!-- {% style "/css/signin.css" %} -->
{% extends "menu.html" %}
{% block content %}
<!--     form -->
<!-- action change pass -->
<form method="post" class="form-signin" action="">
  <h2 class="form-signin-heading">Change Your Password</h2>
  <label for="inputOldPassword" class="sr-only">Password</label>
  <input name="old_password" type="password" id="inputOldPassword" class="form-control" placeholder="Old Password" required>
  <br>
  <label for="inputPassword" class="sr-only">Password</label>
  <input name="password" type="password" id="inputPassword" class="form-control" placeholder="New Password" required>
  <button class="btn btn-lg btn-primary btn-block" type="submit" name="changepass">Change Password</button>
</form>
<!-- end form -->
{% endblock %}

