{% extends "menu.html" %}
{% block content %}
<!--  form  -->
<form method="POST" class="form-signin" action="/sendemail">
  {% csrf-field %}
  <h2 class="form-signin-heading">Contact Us</h2>
  <input name="name" type="text" class="form-control" placeholder="Name" required autofocus>
  <br>
  <input name="email" type="email" class="form-control" placeholder="Email address" required autofocus>
  <br>
  <textarea name="message" type="text" class="form-control" placeholder="Message" rows="7" cols="30" required></textarea>
  <br>
  <br>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
</form>
<!-- end form -->
{% endblock %}
