<!-- {% style "/css/carousel.css" %} -->
{% extends "menu.html" %}
{% block content %}
<div><h1 style="text-align:center;" class="featurette-heading">Store: Games</h1></div>
<hr class="featurette-divider">
<div class="row featurette">
  <div class="col-md-4">
    <h3 style="padding-left:80px;"><b>Ime</b></h3>
    <p class="lead" style="padding-left:80px;">Tekst</p><p class="lead" style="padding-left:80px;"><br><b>Price: Cena $</b></p>
    <!--         add to cart action -->
    <form method="post" class="go-to-cart" action="">
      <p style="padding-left:80px;" class="go-to-cart"><input type="number" name="quantity" min="1" max="10" placeholder="Qty" class="qty" required>
        <input type="hidden" name="product_id" class="product_id" value="i-ti proizvod"/>
        <a class="btn btn-primary" type="submit">Add to Cart</a></p>
    </form>
  </div>
  <div class="col-md-8">
    <img class="featurette-image img-responsive center-block" src="putanja do slike" alt="Generic placeholder image">
  </div>
</div>
<hr class="featurette-divider">
{% endblock %}
<!--     <script src="js/cart.js"></script> -->
