<!DOCTYPE html>
<html>
  <head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <META name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="img/favicon.jpeg">
        <title>Welcome to Gaming For Life</title>
        <!-- styles -->
        {% style "/assets/bootstrap/css/bootstrap.min.css" %}
        {% style "/css/signin.css" %}
        </head>
      <body>
        <!--         message label -->
        {% if message %}
        <div class="alert alert-success" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          {{message}}
        </div>
        {% endif %}
        <!--         end message -->
        <!-- form -->
        <form method="post" class="form-signin" action="/login">
          {% csrf-field %}
          <h2 class="form-signin-heading">Please login</h2>
          <input name="email" type="email" class="form-control" placeholder="Email address" required autofocus>
          <br>
          <input name="pass" type="password"class="form-control" placeholder="Password" required>
          <button class="btn btn-lg btn-primary btn-block" type="submit" name="login">Login</button>
          <br>
          <a href="" data-toggle="modal" data-target="#registerModal">No account? Register</a>
        </form>
        <!--     end form -->
        <br>
        <br>
        <!-- Modal -->
        <div id="registerModal" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <!--     form -->
                <form method="post" class="form-signin" action="/register">
                  {% csrf-field %}
                  <h2 class="form-signin-heading">Register Here</h2>
                  <input name="first_name" type="text" class="form-control" placeholder="Name" required autofocus>
                  <br>
                  <input name="last_name" type="text" class="form-control" placeholder="Surname" required autofocus>
                  <br>
                  <input name="email" type="email" class="form-control" placeholder="Email address" required autofocus>
                  <br>
                  <div class="form-group">
                    <input name="pass" type="password" data-minlength="6" id="password" class="form-control" placeholder="Password" required>
                    <br>
                    <input type="password" id="confirm_password" class="form-control" placeholder="Re-type Password" required>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" required> I agree with Terms and Conditions
                    </label>
                  </div>
                  <br>
                  <br>
                  <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
                </form>
                <!--     end form -->
              </div>
            </div>
          </div>
        </div>
        <footer style="text-align: center">
          <p>&copy; 2015 Gaming for Life, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </footer>
        <!-- scripts -->
        {% script "/assets/jquery/jquery.min.js" %}
        {% script "/assets/bootstrap/js/bootstrap.min.js" %}
        <script type="text/javascript">
          var password = document.getElementById("password")
          , confirm_password = document.getElementById("confirm_password");

          function validatePassword(){
            if(password.value != confirm_password.value) {
              confirm_password.setCustomValidity("Passwords don't match");
            } else {
              confirm_password.setCustomValidity('');
            }
          }

          password.onchange = validatePassword;
          confirm_password.onkeyup = validatePassword;
        </script>

      </body>
      </html>
