{% extends "menu.html" %}
{% block content %}
<div><h1 style="text-align:center;" class="featurette-heading">Store</h1></div>
<div class="my-new-list"></div>
<br>
<br>
<div class=" container text-center text-justify lead">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Game Name</th>
        <th>Description</th>
        <th>Image</th>
        <th>Price</th>
        <th>Type</th>
        {% ifequal admin "true" %}
        <th><a class="btn btn-default" data-toggle="modal" data-target="#addProductModal">Add product</a></th>
        {% endifequal %}
      </tr>
    </thead>
    {% for product in products %}
    <tr>
      <td><small> {{product.name}} </small></td>
      <td><small> {{product.description}} </small></td>
      <td><img src= {{product.picture}} id= "product_picture" height='100' width='100'></td>
      <td> {{product.price}} $ </td>
      <td>
        {% for type in types %}
        {% if type.id = product.type %}
        {{type.name}}
        {% endif %}
        {% endfor %}
      </td>
      <td>
        {% ifequal admin "true" %}
        <a class="btn btn-danger" data-toggle="modal" data-target="#deleteProductModal" onclick="setIdForDeleteModal({{product.id}})">Delete product</a>
        {% endifequal %}
        <br>
        <br>
        <form method="post" action="/cart/add">
          {% csrf-field %}
          <p><input type="number" name="quantity" min="1" max="10" placeholder="Qty" required>
            <input type="hidden" name="product_id" value={{product.id}} >
            <button class="btn btn-primary" type="submit">Add to Cart</button></p>
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
  <br>
  <br>
</div>
{% endblock %}

