<!-- {% style "/css/signin.css" %} -->
{% extends "menu.html" %}
{% block content %}
<!--     form -->
<form method="post" class="form-signin" action="" id="enableForm">
  <h2 class="form-signin-heading">Register Here</h2>
  <label for="inputName" class="sr-only">Name</label>
  <input name="name" type="text" id="inputName" class="form-control" placeholder="Name" required autofocus>
  <br>
  <label for="inputSurname" class="sr-only">Surname</label>
  <input name="surname" type="text" id="inputSurname" class="form-control" placeholder="Surname" required autofocus>
  <br>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
  <br>
  <div class="form-group">
    <label for="inputPassword" class="sr-only">Password</label>
    <input name="password" type="password" data-minlength="6" id="password" class="form-control" placeholder="Password" required>
    <br>
    <input type="password" name="confirm_password" id="confirm_password" class="form-control" placeholder="Re-type Password" required>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="remember-me" required> I agree with Terms and Conditions
    </label>
  </div>
  <br>
  <br>
  <button class="btn btn-lg btn-primary btn-block" type="submit" name="register">Register</button>
</form>
<!--     end form -->
{% endblock %}
<script type="text/javascript">
  var password = document.getElementById("password")
  , confirm_password = document.getElementById("confirm_password");

  function validatePassword(){
    if(password.value != confirm_password.value) {
      confirm_password.setCustomValidity("Passwords Don't Match");
    } else {
      confirm_password.setCustomValidity('');
    }
  }

  password.onchange = validatePassword;
  confirm_password.onkeyup = validatePassword;
</script>
