<!-- {% style "/css/signin.css" %} -->
{% extends "menu.html" %}
{% block content %}
<div class="row">
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12 lead">User profile<hr></div>
        </div>
        <div class="row">
          <div class="col-md-4 text-center">
            <form id="fileupload" class="form-horizontal" method="POST" action="imagesave.php" enctype="multipart/form-data">
              <div class="fileupload fileupload-new" data-provides="fileupload">
                <div class="fileupload-preview thumbnail" style="width: 200px; height: 150px;"><img style="width: 200px; height: 150px;" src="images/user/<?php echo $row->slika; ?>"/></div>
                <div>
                  <input type="hidden" name="MAX_FILE_SIZE" value="204800" />
                  <input type="file" name="image" /></span>
              </div>
              </div>
            <div style="padding-right: 500px;" class="control-group">
              <label class="control-label"></label>
              <div class="controls">
                <button type="submit" class="btn btn-info">Upload</button>
              </div>
            </div>
            </form>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-12">
              <h1 class="only-bottom-margin">User ime prezime</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <span class="text-muted">Email:</span> email<br>
              <span class="text-muted">About Me: </span><p>O meni</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
