{% extends "menu.html" %}
{% block content %}
<div class="row">
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12 lead">User profile<hr></div>
        </div>
        <div class="row">
          <div class="col-md-4 text-center">
            <form id="fileupload" class="form-horizontal" method="POST" action="/user/changeprofilepicture" enctype="multipart/form-data">
              {% csrf-field %}
              <div class="fileupload fileupload-new" data-provides="fileupload">
                <div class="fileupload-preview thumbnail" style="width: 200px; height: 150px;">
                  <img style="width: 200px; height: 150px;"
                       src={% if user.profile_picture %} {{user.profile_picture}} {% else %} "/img/user/profile-picture.jpg"{% endif %}/>
                </div>
                <div>
                  <input type="hidden" id="profile" name="profile_picture"/>
                  <input type="file" class="form-control" accept="image/*" onchange="readProfilePicture()"/></span>
              </div>
              </div>
            <div style="padding-right: 500px;" class="control-group">
              <label class="control-label"></label>
              <div class="controls">
                <button type="submit" class="btn btn-info">Upload</button>
              </div>
            </div>
            </form>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-12">
              <h1 class="only-bottom-margin">{{user.first_name}} {{user.last_name}}</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <span class="text-muted">Email:</span> {{user.email}}<br>
              <span class="text-muted">About Me: </span><p id="about_me">{{user.about_me}}</p>
              <form method="POST" action="/user/changeaboutme" id="about" style="display:none;">
                {% csrf-field %}
                <textarea name="about_me" class="form-control" style="resize:none;"></textarea>
                <br>
                <button type="submit" class="btn btn-info">Save changes</button>
                <button type="button" class="btn btn-danger" onclick="showTextArea(false)">Cancel</button>
              </form>
              <button id="change" class="btn btn-info" onclick="showTextArea(true)">Change</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
